.container {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : 12px;

    input {
        height    : 40px;
        background: #cfcfcf;
        border    : none;
        padding   : 12px;
        color     : black;
    }

    Button {
        margin: 0 12px;
    }
}