.container {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin: 12px;

    input {
        height : 35px;
        padding: 0 4px;
        margin : 0 12px;
    }

    Button{
        margin: 0 12px ;
    }
}