.container {
    width          : 80%;
    display        : flex;
    justify-content: center;
    padding        : 1rem;

    .todoContainer {
        background: gray;
    }


    .todoElementContainer {
        align-items    : center;
        justify-content: center;
        background     : rgb(255 164 164 / 50%);
        width          : 100%;
        padding        : 12px;
        margin         : 12px;
        display        : flex;
        flex-direction : column;
        min-width      : 100%;

        .todoElementTitle {
            display        : flex;
            justify-content: space-between;
            width          : 100%;
            align-items    : center;
        }

        .todoElementContent {
            flex       : 1;
            padding    : 12px 10px;
            font-size  : 18px;
            color      : #ff5757c7;
            font-weight: 900;
            word-wrap  : break-word;
            max-width  : 75%;
        }

        .todoElementButton {
            background : transparent;
            border     : none;
            font-weight: bolder;
            font-size  : 12px;
            cursor     : pointer;
            color      : white;
        }
    }
}


// Tooltip

/* Tooltip container */
.tooltip {
    position     : relative;
    display      : inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltipText {
    visibility      : hidden;
    max-width       : 400px;
    width           : 100%;
    background-color: black;
    color           : #fff;
    text-align      : center;
    padding         : 5px 0;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index : 1;

    left: 0;
    top : 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipText {
    visibility: visible;
}



.one h1 {
    text-align    : center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.one h1:before {
    width           : 28px;
    height          : 5px;
    display         : block;
    content         : "";
    position        : absolute;
    bottom          : 3px;
    left            : 50%;
    margin-left     : -14px;
    background-color: #b80000;
}

.one h1:after {
    width           : 100px;
    height          : 1px;
    display         : block;
    content         : "";
    position        : relative;
    margin-top      : 25px;
    left            : 50%;
    margin-left     : -50px;
    background-color: #b80000;
}